
body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.swiper {
  width: 87.5%;
  height: 30vh;
}

.swiper-slide {
  border: 2px solid #34BCA2;
  display: flex;
  flex-direction: column;
  width: 26.83vw;
  height: 55.25vw;
  cursor: pointer;
  border-radius: 8px;
  background-color: #3C4BDC;
}

.swiper-slide img {
  width: 100%;
  height: 40.25vw;
  border-radius: 8px;
}

.swiper-slide h3 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 3.66vw;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
  /* Add more styles as needed */
}

.swiper-slide h5 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 2.66vw;
  font-weight: 300;
  text-align: center;
  /* Add more styles as needed */
}

.liner {
    border-radius: 1224px;
    opacity: 0.35;
    background: linear-gradient(45deg, #b80707 0%, #7c0707 7.4%, #9c0707 100%);
    filter: blur(250px);
}
@media (max-width:425){
  .carus {
    margin-top: 40px;
  }
}
